{% extends "base.html" %}
{% load vv_tags %}

{% block vvapps %}
	{% if "vvinstant"|is_installed %}
		{% include "vvinstant/vues/templates.html" %}
	{% endif %}
	{% if "vvpages"|is_installed %}
		{% include "vvpages/vues/templates.html" %}
	{% endif %}
	{% if "vvcatalog"|is_installed %}
		{% include "vvcatalog/vues/templates.html" %}
	{% endif %}
	{% if "vvphotos"|is_installed %}
		{% include "vvphotos/vues/templates.html" %}
	{% endif %}
	{% if "vvcontact"|is_installed %}
		{% include "vvcontact/vues/templates.html" %}
	{% endif %}
{% endblock %}

{% block vues %}
	{% getVvapps as apps %}
	{% include "vv/app.js" %}
{% endblock %}